<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class=" navbar-brand" routerLink="">
            <img class="d-inline-block align-top" src="assets/img/logo-center-login.png" width="40" height="40" alt="">
            Mulambos Airsoft Team
        </a>
    </div>
</nav>

<div class="container">
    <div>
        <div>
            <h1>Operação Terra de Ninguém</h1>
        </div>
        <div>
            Descrição
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg" (click)="exibirBotao()">Cadastrar</button>
        </div>
    </div>
    <div class="form" *ngIf="isExibirForm()">
        <div class="imgFundo" *ngIf="exibirLogo() != ''">
            <img class="d-inline-block align-top" src="{{exibirLogo()}}" alt="">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Equipe</label>
            <select class="form-select" aria-label="Default select example" #idForm (change)="mudarLogo(idForm.value)">
                <option selected> - SELECIONE - </option>
                <option *ngFor="let equipe of equipes" value="{{equipe.nomeEquipe}} - {{equipe.urlImg}}">{{equipe.nomeEquipe}}</option>
                <option>OUTRA EQUIPE</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="cpf" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="nmPessoa" class="form-label">Nome Completo</label>
            <input type="text" class="form-control" id="nmPessoa" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="dtNasc" class="form-label">Data de Nascimento</label>
            <input type="date" class="form-control" id="dtNasc" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Telefone/Celular</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Contato de Emergência</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Função do Operador</label>
            <select class="form-select" aria-label="Default select example">
                <option selected> - SELECIONE - </option>
                <option *ngFor="let fnOpr of funcaoOperador" value="{{fnOpr.nmFuncao}}">{{fnOpr.nmFuncao}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Modelo Arma Primaria</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <label for="exampleInputEmail1" class="form-label">Fps</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Modelo Arma Secundaria</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <label for="exampleInputEmail1" class="form-label">Fps</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Padrão do Loadout</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 d-grid gap-2">
            <button class="btn btn-primary" type="button">Concluir</button>
        </div>
    </div>

</div>